/* ---------------------Center the entire form-------------------- */
.Info {
    max-width: 40vw;
    margin: 2vw auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ---------------Styling for the profile photo and "Change Profile Photo" button------------ */
.profile-photo-container {
    /* position: relative; */
    text-align: left;
    margin-bottom: 1rem;
}

.Avatar {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.change-avatar {
    display: block;
    margin-top: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/* ------------------------CSS for the form sections---------------------- */


.first_last_name,
.email_mobile,
.city_state {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* ------------------CSS for labels------------------------------------------ */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* -------------------------CSS for input fields--------------------------- */
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 18vw;
    height: 1.8vw;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#address {
    width: 38vw;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* -----------------------CSS for the postal code input -------------------------*/
#postalCode {
    width: 15vw;

}

/* --------------------------CSS for the objective textarea --------------------*/
#objective {
    width: 38vw;
    height: 100px;

}

/* --------------css for next and back button------------------ */

.back_next {
    display: flex;
    justify-content: space-between;
}

.back_next button:hover {
    background-color: #1bd57b;
}

/* ---------------------------Styling for the dialog------------------------*/
.DialogTitle {
    text-align: center;
}

.DialogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --------------------responsive for mobile------------------------------*/
@media only screen and (min-width:320px) and (max-width: 767px) {
    .Info {
        max-width: 80vw;
        /* text-align: center; */

    }

    .first_last_name,
    .email_mobile,
    .city_state {
        flex-direction: column;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        width: 70vw;
    }

    #address {
        width: 70vw;
    }

    #postalCode {
        width: 70vw;
    }

    #objective {
        width: 70vw;
    }
}